:root {
  --primary-color: #E1B6E4;
  --secondary-color: #A35390;
  --terciary-color: #602750;
  --quartinary-color: #CE65BA;
  --quintinary-color: #327087;
  --sextinary-color: #31405F;
}

nav {
  background-color: var(--sextinary-color);
}

.navbar {
  background-color: var(--sextinary-color);
  font-family: 'Lora', normal;
  font-size: larger;
  height: 60px;
  align-items: center;
}

.navoptions {
  font-family: 'Lora', serif;
  -webkit-text-stroke: .1px white;
  size: 30px;
  font-weight: bolder;
  text-shadow: 0px 3px 1.5px black;
}