:root {
  --primary-color: #2A1B3D;
  --secondary-color: #D83F87;
  --terciary-color: #44318D;
  --quartinary-color: #8265A7;
  --quintinary-color: #E3E2DE;
  --light: #ffffff;
  --dark: #000000;
}

.nav-options {
  display: flex;
  background-color: var(--primary-color);
  padding: 10px 0px;
}

.nav-button {
  text-align: center;
  margin: 10px 10px 5px 10px;
  color: var(--light);
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  text-decoration: none;
  padding: 10px;
}

.nav-button:hover {
  color: var(--quartinary-color);
}

.nav-right-options {
  margin-left: auto;
}














/* 

/* .navbar {
  background-color: var(--sextinary-color);
  font-family: "Lora", normal;
  font-size: xx-large;
  height: 60px;
  align-items: center;
} */

/* .navoptions {
  font-family: "Lora", serif;
  -webkit-text-stroke: 0.1px white;
  size: 30px;
  font-weight: bolder;
  text-shadow: 4px 4px 5px black;
  margin-top: 1%;
} */
