:root {
  --primary-color: #E1B6E4;
  --secondary-color: #A35390;
  --terciary-color: #602750;
  --quartinary-color: #CE65BA;
  --quintinary-color: #327087;
  --sextinary-color: #31405F;
}

html {
  /* background-color: #E1B6E4; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .purplecolor1 {
  background-color: #E1B6E4;
  background-size: cover;
} */

/* .navbar {
  background-color: #31405F;
  font-family: 'Lora', normal;
  font-size: larger;
  height: 60px;
} */

.cardfamilyname {
  font-weight: bold;
  font-size: 100px;
  font-family: 'Shadows Into Light Two', cursive;
}

/* .purplecolor2 {
  background-color: rgba(163, 83, 144, 0.4);
  max-width: 100%;
  background-size: cover;
} */

/* nav {
  background-color: #31405f;
} */

/* .homeimg {
  border-radius: 30px;
} */

.aboutimg {
  border: 1px solid white;
  border-radius: 10px;
}

/* .navoptions {
  font-family: 'Lora', serif;
  -webkit-text-stroke: .1px white;
  size: 30px;
  font-weight: bolder;
  text-shadow: 0px 3px 1.5px black;
} */

.box {
  background-color: var(--primary-color);
  height: 100vh;
}

textarea {
  resize: none;
}

.contactinput {
  background-color: #602750;
  border: 1px solid black;
  color: white;
}

.contactinput:focus {
  font-size: large;
  background-color: aliceblue;
  border: solid 1px black;
}

.contactlabel {
  color: #31405f;
  font-weight: bold;
}

.contactlinks {
  color: #31405f;
  font-weight: bold;
}

.contactlinkstitle {
  color: #31405f;
  font-size: larger;
  font-weight: bold;
}

.contactsubmitbutton {
  background-color: #31405f;
}

h2 {
  color: #31405f;
  font-weight: bolder;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 60px;
}

.contactimage {
  border: 1px solid black;
  border-radius: 4%;
}

.card {
  border: 1px solid #31405f
}

.card:hover {
  background-color: rgba(96,39,80,.3);
  border: 1px solid #31405f;
}