/* :root {
  --primary-color: #E1B6E4;
  --secondary-color: #A35390;
  --terciary-color: #602750;
  --quartinary-color: #CE65BA;
  --quintinary-color: #327087;
  --sextinary-color: #31405F;
}

.boxAdopt h1 {
  text-shadow: 4px 4px 8px var(--quartinary-color);
  padding: 10px;
}

.adoptContainer {
  padding-top: 15px;
  margin-top: 10px;
  border-radius: 30px;
  background-color: var(--primary-color);
  border: 2px solid var(--sextinary-color);
}

.adoptFamilyContainer {
  padding-top: 10px;
  padding-bottom: 20px;
}

.card {
  border: 1px solid var(--sextinary-color);
  border-radius: 30px;
  background-color: whitesmoke;
  color: var(--sextinary-color);
}

.card:hover {
  background-color: var(--sextinary-color);
  border: 1px solid var(--sextinary-color);
  color: var(--primary-color);
}

.cardfamilyname {
  font-family: 'Shadows Into Light Two';
  font-weight: bold;
  font-size: x-large;
} */