:root {
    --primary-color: #E1B6E4;
    --secondary-color: #A35390;
    --terciary-color: #602750;
    --quartinary-color: #CE65BA;
    --quintinary-color: #327087;
    --sextinary-color: #31405F;
  }

  .aSignUp {
    color: var(--quintinary-color);
  }

  .aSignUp:hover {
    color: var(--terciary-color);
  }

  .boxSignUp {
    background-color: var(--primary-color);
    border: 2px solid var(--sextinary-color);
  }

  .signUpContainer {
    margin-top: 10px;
  }

  .signUpLabel {
    color: var(--quintinary-color);
    font-weight: bolder;
    font-size: xx-large;  
  }

  .signUpSubmitButton {
    background-color: #31405f;
  }