.main-footer-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: -20px;
  border-bottom: solid var(--light) 1px;
}

footer {
  background-color: var(--primary-color);
  color: var(--light);
}

.footer-title {
  padding-top: 20px;
}

ul {
  list-style: none;
  margin-left: -25px;
  margin-top: -20px;
}

.resource-list a,
.help-list a,
.developers-list a {
  text-decoration: none;
  color: var(--light);
  font-size: 12px;
}

.resource-list a:hover,
.help-list a:hover,
.developers-list a:hover {
  text-decoration: none;
  color: var(--quartinary-color);
  font-style: italic;
}

.footer-title {
  margin-left: 40px;
}

.copyright-text {
  text-align: center;
  font-size: 13px;
  padding-bottom: 10px;
}





/* :root {
  --primary-color: #e1b6e4;
  --secondary-color: #a35390;
  --terciary-color: #602750;
  --quartinary-color: #ce65ba;
  --quintinary-color: #327087;
  --sextinary-color: #31405f;
}

nav {
  background-color: var(--sextinary-color);
}

nav a {
  color: var(--quartinary-color);
}

.navbarFooter {
  background-color: var(--sextinary-color);
  font-family: "Lora", normal;
  font-size: xx-large;
}

.donatenav {
  align-items: center;
}

.navoptions {
  font-family: "Lora", serif;
  -webkit-text-stroke: 0.1px white;
  size: 30px;
  font-weight: bolder;
  text-shadow: 0px 3px 1.5px black;
} */
