:root {
  --primary-color: #e1b6e4;
  --secondary-color: #a35390;
  --tertiary-color: #602750;
  --quartinary-color: #ce65ba;
  --quintinary-color: #327087;
  --sextinary-color: #31405f;
}

.aboutBox h1 {
  text-shadow: 4px 4px 8px var(--quartinary-color);
  padding-right: 20px;
  padding-top: 60px;
}

.aboutBox h3 {
  color: var(--sextinary-color);
  text-shadow: 4px 4px 8px var(--quintinary-color);
}

.signUpContainer {
  margin-top: 10px;
  border-radius: 30px;
  background-color: var(--primary-color);
  border: 2px solid var(--sextinary-color);
}

.aboutImg {
  border-radius: 50px;
  padding: 15px;
  height: 450px;
}

.aboutContent {
  border-radius: 10px;
  padding: 5px;
}
