:root {
    --primary-color: #E1B6E4;
    --secondary-color: #A35390;
    --terciary-color: #602750;
    --quartinary-color: #CE65BA;
    --quintinary-color: #327087;
    --sextinary-color: #31405F;
  }

  .boxLogin {
    background-color: var(--primary-color);
    height: 100vh;
    border: 2px solid var(--sextinary-color);
  }

  .loginLabel {
    color: var(--quintinary-color);
    font-weight: bolder;
    font-size: xx-large;  
  }
  
  .loginSubmitButton {
    background-color: #31405f;
  }